<div class="mb-8">
  <%= render "form" %>
</div>

<%= turbo_frame_tag "tweets" do %>
  <%= render @tweets %>
  <%# this means we will look for the _tweet.html.erb file %>
  <%# by doing so, we don't have to do something like:
  @tweets.each do |tweet|
  render "tweet" tweet: tweet %>
  <%# end %>
  <%# we can do it because of the conventions %>
<% end %>
